@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --hue: 194;
  --bg-color: hsla(var(--hue), 5%, 7%, 1);
  --text-color: hsla(var(--hue), 40%, 98%, 1);
  --primary-color: hsla(var(--hue), 100%, 63%, 1);
  --controls-bg-color: hsla(var(--hue), 0%, 14%, 1);

  --button-secondary: hsla(var(--hue), 40%, 98%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: min(max(40%, 1% + 2vw), 62.5%);
}

html.light {
  --text-color: hsla(var(--hue), 5%, 7%, 1);
  --bg-color: hsla(var(--hue), 40%, 98%, 1);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  height: 100dvh;
  place-content: center;
}

#app {
  display: grid;
  justify-items: center;
}


.flex {
  display: flex;
}

#toggle-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);

  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  appearance: none;
}

#timer {
  font-size: 9.6rem;
  font-family: 'roboto', 'sans-serif';
}

#controls {
  margin-top: 1.6rem;
  padding: 2.2rem 4rem;
  gap: 1.6rem;
  background-color: var(--controls-bg-color);
  border-radius: 999rem;
}

button {
  background-color: transparent;
  font-size: 6.4rem;
  border: none;
  color: var(--primary-color);
}

.secondary {
  color: var(--button-secondary);
}

html.running .ph-play-circle,
html.running .ph-timer,
html.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
  display: none;
}
